.card {
    display: flex;
    align-items: center;
    height: 3rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    background: #f4f4f4;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;

    .rank {
        width: 20%;
        padding-left: 1rem;
    }

    .name {
        width: 80%;
        text-transform: capitalize;
    }
}