.card {
  display: flex;
  align-items: center;
  height: 3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  background: #f4f4f4;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.04) 0 0 0 1px, rgba(0, 0, 0, 0.1) 0 1px 5px;

  .rank {
    width: 10%;
    padding-left: 1rem;
    border-right: 1px solid #101010;
  }

  .name {
    width: 90%;
    padding-left: 1rem;
    text-transform: capitalize;
  }
}

@media only screen and (max-width: 834px) {
  .card {
    font-size: 0.8725rem;
  }
}

@media only screen and (max-width: 568px) {
  .card {
    font-size: 0.75rem;
  }
}