.column {
  width: 300px;
  max-height: 600px;
  margin: 3rem 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.04) 0 0 0 1px, rgba(0, 0, 0, 0.1) 0 2px 10px;
  overflow: auto;

  .header {
    display: flex;
    align-items: center;
    font-weight: 700;
    height: 3rem;

    .rank {
      width: 20%;
    }

    .label {
      width: 80%;
      text-align: right;
    }
  }
}
