.column {
  width: 300px;
  margin: 5rem 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.04) 0 0 0 1px, rgba(0, 0, 0, 0.1) 0 2px 10px;
  position: relative;

  .header {
    display: flex;
    align-items: center;
    font-weight: 700;
    height: 3rem;
    position: absolute;
    top: -3rem;
    left: 0;
    width: 100%;

    .rank {
      width: 20%;
    }

    .label {
      width: 80%;
      text-align: right;
    }
  }
}

@media only screen and (max-width: 834px) {
  .column {
    transform: scale(0.8);
    margin: 5rem 0.2rem;
  }
}

@media only screen and (max-width: 568px) {
  .column {
    transform: scale(0.8);
    margin: 3rem 0;
  }
}