@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Sen:wght@700&display=swap");

/* font-family: 'Raleway', sans-serif;
font-family: 'Sen', sans-serif; */

#app {
  font-family: "Sen", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 834px) {
  a {
    transform: scale(0.8);
  }
}

@media only screen and (max-width: 568px) {
  a {
    position: absolute;
    top: 1rem;
  }
}